
body {
	background-color: #f9f9f9;
	margin-left: 150px;
	margin-right: 150px;
	height: 100%;
	font: 15px sans-serif;
}
footer {
	padding-bottom: 50px;
}
nav {
    background-image: linear-gradient(#4e4d4d, rgb(21, 17, 21));
	height: 40px;
}
ul.product li {
	display: block;
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	color: #656363;
}
ul.product {
	border-bottom: 1px solid #c8c8c8;
}
ul.bottom_menu a {
	color: #2c2c2c;
	text-shadow: none;
}
ul.product a {
	text-shadow: none;
	color: #656363;
}
a {
	color: #ffffff;
	text-decoration: none;
}
li {
	padding: 10px 24px;
	display: inline-block;
	text-shadow: 2px 2px #393838;
}
.bg{
	padding: 0px 45px 0px;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	background-color: #ffffff;
	height: 100%;
}
.container {
	margin-top: 40px;
}
.panel {
	height: 40px;
	background-color: #e1e1e1;
}
.content {
	height: 680px;
	width: 100%;
}
.left_menu {
	margin-right: 50px; 
	float: left;
	width: 240px;
	height: 680px;
}
#bike {
	width: 680px;
	padding-top: 50px;
	padding-right: 275px;
	padding-bottom: 50px;
	padding-left: 240px;
	border: 1px solid #c8c8c8;
}
#all_rights {
	color: #2c2c2c;
	margin-left: 860px;
	text-shadow: none;
}
a:hover {
	background-image: linear-gradient(#2e2e2e, rgb(21, 17, 21));
	border-left: 1px solid #838383;
	border-right:1px solid #838383;
} 
